<div class="login-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
    <div class="form-group">
      <label for="displayName">Display Name:</label>
      <input type="text" id="displayName" class="form-control" formControlName="displayName" placeholder="Your Name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="you@example.com" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn" [disabled]="registerForm.invalid">Register</button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="showSuccessToast" class="basic-toast">
      {{ successMessage }}
    </div>
  </form>
</div>
